<?xml version="1.0" encoding="UTF-8"?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config">
    <Properties>
        <Property name="console-log-pattern">%style{[%date{DEFAULT}]}{yellow} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green} - %C{2} (%F:%L) - %message%n</Property>
        <Property name="file-log-pattern">%-5p | %date{DEFAULT} | [%t] %C{2} (%F:%L) - %m%n</Property>
    </Properties>

    <Appenders>
        <!-- CONSOLE Appender -->
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="${console-log-pattern}"/>
        </Console>

        <!-- FILE Appender -->
        <File name="FILE" fileName="target/log/LOGS_BFCL_E2E_${date:yyyy-MM-dd}.log" append="true">
            <PatternLayout pattern="${file-log-pattern}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>